.booking {
  text-align: center;
  text-transform: uppercase;
}

.booking__title {
  margin-top: $offset-double;

  font-size: $text-size-big;
}

.booking__details {
  width: 260px;
  margin: 0 auto $offset-double auto;
}

.booking__button {
  width: 280px;

  @include button-styles();
}
