.fieldset {
  padding: $offset-single;
}

.fieldset__title {
  margin: 0 0 $offset-single 0;

  text-align: center;
  text-transform: uppercase;

  font-size: $text-size-medium;
  font-weight: bold;
  line-height: 26px;
}

.fieldset__item {
  margin: $offset-single 0;
}

.fieldset__label {
  text-transform: uppercase;

  color: $color-dark-grey;
}

.fieldset__input-text {
  height: 58px;
  padding: 0 $offset-single;

  border: none;
  background: $color-light-grey;

  @include form-input-text();
}

.fieldset__item--horizontal {
  & .fieldset__label {
    margin-right: $offset-single;
  }
}

.fieldset__item--vertical {
  & .fieldset__label {
    display: block;

    margin-left: $offset-single;
  }

  & .fieldset__input-text {
    margin: $offset-half 0;
  }

  & input[type="tel"], & input[type="email"] {
    display: inline-block;

    width: 182px;

    vertical-align: middle;
  }

  & .fieldset__mail-icon {
    display: inline-block;

    width: 58px;
    height: 58px;

    vertical-align: middle;

    background: $color-medium-grey url('/img/icon-mail.svg') no-repeat 50% 50%;
  }

  & .fieldset__phone-icon {
    display: inline-block;

    width: 58px;
    height: 58px;

    vertical-align: middle;

    background: $color-medium-grey url('/img/icon-phone.svg') no-repeat 50% 50%;
  }
}

.fieldset__item--radio, .fieldset__item--checkbox {
  & .fieldset__label {
    display: inline-block;

    margin-right: $offset-single;

    vertical-align: middle;
    text-transform: none;

    font-size: $text-size-medium;
    font-weight: bold;
  }

  & .fieldset__radio {
    width: 55px;
    height: 55px;
    margin-right: $offset-single;

    vertical-align: middle;

    outline: none;
  }

  & .fieldset__cheсkbox {
    width: 55px;
    height: 55px;
    margin-right: $offset-single;

    vertical-align: middle;

    outline: none;
  }
}

.fieldset__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: $offset-single;

  border: 0;
  background-color: $color-light-grey;

  @include form-input-text();
}

.fieldset__error {
  margin-left: $offset-single;

  color: $color-red;
}
