@mixin drop-list-style() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin details-title-bg($type) {
  background: url("/img/icons/icon-#{$type}.svg") no-repeat 50% 50%;
  background-size: contain;
}

@mixin socials-link-bg($name) {
  text-indent: -9999px;

  background: url("/img/icons/icon-#{$name}.svg") no-repeat 50% 50%;
}

@mixin reason-img($type) {
  width: 100%;
  height: 260px;

  background-image: url("/img/photo-#{$type}-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  @media (min-resolution: 1.5dppx) {
    background-image: url("/img/photo-#{$type}-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("/img/photo-#{$type}-tablet@1x.jpg");
    @media (min-resolution: 1.5dppx) {
      background-image: url("/img/photo-#{$type}-tablet@2x.jpg");
    }
  }

}

@mixin button-styles() {
  display: inline-block;

  height: 58px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $color-white;
  border: 0;
  outline: none;
  background-color: $color-blue;

  font-size: $text-size-big;
  font-weight: bold;
  line-height: 58px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #94b9d2;
    background-color: #3e84ae;
  }

  &:disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}

@mixin container-fluid() {
  padding-right: 6.25%;
  padding-left: 6.25%;

  @media (min-width: 768px) {
    padding-right: 7.8125%;
    padding-left: 7.8125%;
  }

  @media (min-width: 1200px) {
    padding-right: 10%;
    padding-left: 10%;
  }
}
