@import "variables";
@import "mixins";

@import "normalize";

@import "blocks/caption";

@import "blocks/header";
@import "blocks/page-nav";
@import "blocks/reasons";
@import "blocks/reason";
@import "blocks/footer";
@import "blocks/socials";
@import "blocks/details";
@import "blocks/booking";
@import "blocks/map";

@import "blocks/review-form";
@import "blocks/popup";

@import "blocks/gallery";
@import "blocks/photo";
@import "blocks/presentation";
@import "blocks/video";
@import "blocks/video-controls";

body {
  min-width: 320px;

  background-color: #f2f2f2;

  font-family: "PT Sans", sans-serif;
  font-size: $text-size-small;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow:
    2px 0 15px 0 rgba(0, 0, 0, 0.1),
    -2px 0 15px 0 rgba(0, 0, 0, 0.1);
}
