@import "variables";
@import "mixins";

@import "normalize";

@import "blocks/caption";

@import "blocks/header";
@import "blocks/page-nav";
@import "blocks/reasons";
@import "blocks/reason";
@import "blocks/footer";
@import "blocks/socials";
@import "blocks/details";
@import "blocks/booking";
@import "blocks/map";

@import "blocks/review-form";
@import "blocks/popup";

@import "blocks/gallery";
@import "blocks/photo";
@import "blocks/presentation";
@import "blocks/video";
@import "blocks/video-controls";

body {
  min-width: 320px;

  font-family: "PT Sans", sans-serif;
  font-size: $text-size-small;
}
