$color-white: #ffffff;
$color-black: #000000;
$color-dark-grey: #333333;
$color-medium-grey: #d6d6d6;
$color-light-grey: #eeeeee;
$color-blue: #81b3d2;
$color-red: #ff5c5c;

$text-size-small: 14px;
$text-size-medium: 18px;
$text-size-big: 21px;
$text-size-huge: 30px;

$offset-single: 20px;
$offset-half: $offset-single / 2;
$offset-double: $offset-single * 2;
$offset-triple: $offset-single * 3;
