.booking {
  padding-top: $offset-single;
  padding-bottom: $offset-single;

  text-align: center;
  text-transform: uppercase;

  @include container-fluid();
}

.booking__title {
  margin: $offset-single 0;

  text-align: center;

  font-size: $text-size-big;
}

.booking__details {
  max-width: 458px;
  margin: $offset-double auto;

  line-height: 24px;
}

.booking__button {
  width: 100%;
  max-width: 458px;
  margin: 0 0 $offset-single 0;

  @include button-styles();
}

@media (min-width: 768px) {
  .booking__title {
    font-size: 30px;
  }
}
