.caption {
  padding-top: 32px;
  padding-bottom: 44px;
  &--photo {
    padding-bottom: 26px;
  }
  &--form {
    padding-bottom: 14px;
  }

  text-align: center;
  text-transform: uppercase;

  @include container-fluid();
}

.caption__title {
  width: 95%;
  margin: 8px auto 18px auto;

  font-size: $text-size-medium;
  line-height: 26px;

  &--big {
    line-height: 30px;
  }
}

.caption__desc {
  margin: 0 auto;

  line-height: 25px;
}

@media (min-width: 768px) {
  .caption {
    padding: 0;

    .caption__title {
      margin-top: 51px;
      margin-bottom: 28px;

      font-size: $text-size-big;

      &--big {
        font-size: $text-size-huge;
      }
    }

    &--photo, &--form {
      padding-bottom: 15px;

      .caption__title {
        margin-top: 77px;
      }
    }
  }

  .presentation .caption {
    padding: 3px 0 73px 0;
  }
}

@media (min-width: 1200px) {
  .caption {
    &--photo, &--form {
      .caption__title {
        margin-top: 116px;
      }
    }
  }
}
