.page-nav__items {
  background-color: $color-blue;

  @include drop-list-style();
  &--closed {
    display: none;
  }
}

.page-nav__item {
  display: block;

  height: 54px;

  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  line-height: 56px;
  &:last-child {
    box-shadow: inset 0 -2px 10px -2px rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    .page-nav__link {
      color: #94b9d2;
    }
  }
}

.page-nav__link {
  display: block;

  width: 100%;
  height: 100%;

  text-decoration: none;
  text-transform: uppercase;

  color: $color-white;

  font-size: $text-size-medium;
  font-weight: bold;
}

@media (min-width: 768px) {
  .page-nav__items {
    display: flex;

    background: none;
  }

  .page-nav__item {
    width: 20%;

    border: 0;
    &:last-child {
      box-shadow: none;
    }

    &:hover {
      background-color: transparent;
    }


  }

  .page-nav__item:nth-child(2) {
    margin-right: auto;
  }

  .page-nav__link {
    color: $color-black;

    font-size: $text-size-small;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #cacaca;
    }

  }

  .page-nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #dedad8;
    }
  }
}
