.page-nav__items {
  background-color: $color-blue;

  @include drop-list-style();
}

.page-nav__item {
  display: block;

  height: 55px;

  text-align: center;

  border-bottom: 1px solid #010101;

  line-height: 55px;
}

.page-nav__item:nth-child(3) {
  display: none;
}

.page-nav__link {
  text-decoration: none;
  text-transform: uppercase;

  color: $color-white;

  font-size: $text-size-medium;
  font-weight: bold;
}

@media (min-width: 768px) {
  .page-nav__items {
    height: 55px;

    text-align: center;

    background: none;
  }

  .page-nav__item {
    display: inline-block;

    vertical-align: top;

    border: 0;
  }

  .page-nav__item:nth-child(3) {
    display: inline-block;
  }

  .page-nav__link {
    color: $color-black;
  }
}
