.page-nav__items {
  background-color: $color-blue;

  @include drop-list-style();
}

.page-nav__item {
  display: block;

  height: 56px;

  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  line-height: 56px;
}

.page-nav__link {
  text-decoration: none;
  text-transform: uppercase;

  color: $color-white;

  font-size: $text-size-medium;
  font-weight: bold;
}

@media (min-width: 768px) {
  .page-nav__items {
    display: flex;

    background: none;
  }

  .page-nav__item {
    width: 20%;

    border: 0;
  }

  .page-nav__item:nth-child(2) {
    margin-right: auto;
  }

  .page-nav__link {
    color: $color-black;
  }
}
