.photo {
  padding: $offset-single;

  border-top: 1px solid $color-light-grey;

  @include container-fluid();

  img {
    display: block;

    width: 100%;
  }
}

.photo__img {
  display: block;

  margin-bottom: $offset-single;
}

.photo__title {
  margin-bottom: 14px;

  text-transform: uppercase;
}

.photo__author {
  margin-bottom: 14px;

  color: $color-dark-grey;
}

.photo__likes {
  height: 20px;
  padding-left: 35px;

  background: url("/img/icon-like.svg") no-repeat 0 50%;

  font-weight: bold;
  line-height: 24px;
}

.photo__like-icon {
  display: inline;

  margin-right: $offset-half;
}

@media (min-width: 768px) {
  .photo {
    position: relative;

    width: 50%;
    padding: 0;

    border: 0;
    background-color: #f2f2f2;

    &:first-child {
      width: 100%;

      img {
        height: 400px;
      }
    }

    &:nth-child(2n+3) {
      background-color: #eaeaea;
    }
  }

  .photo__img {
    margin: 0;

    img {
      height: 270px;
    }
  }

  .photo__info {
    display: flex;

    box-sizing: border-box;
    padding: $offset-single;

    justify-content: space-between;
    align-items: center;
  }

  .photo__title {
    margin-top: 0;
  }

  .photo__author {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .photo {
    width: 33.3%;
    padding: 0;
  }

  .photo__info {
    position: absolute;
    bottom: 0;

    width: 100%;

    color: $color-white;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .photo__author {
    color: $color-white;
  }
}
