.presentation {
  border-top: 1px solid $color-light-grey;
}

.presentation__intro {
  text-align: center;
  text-transform: uppercase;
}

.presentation__title {
  margin: $offset-double 0;

  font-size: $text-size-medium;
}

@media (min-width: 768px) {
  .presentation {
    border: 0;
    margin-bottom: 36px;

    @include container-fluid();
  }
}

@media (min-width: 1200px) {
  .presentation {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
}
