.reasons__slogan {
  width: 256px;
  margin: $offset-double auto;

  text-align: center;
  text-transform: uppercase;

  font-size: $text-size-medium;
}

.reasons__intro {
  width: 256px;
  margin: $offset-double auto;

  text-align: center;
  text-transform: uppercase;

  font-size: $text-size-small;
}

.reasons__list {
  @include drop-list-style();
}

.reasons__item {
  display: block;

  &:first-child {
    padding-top: $offset-single;
    background: $color-blue url("/img/bg-triangle.svg") no-repeat 50% 0;
  }
}

@media (min-width: 768px) {
  .reasons__list {
    display: flex;

    flex-wrap: wrap;
  }

  .reasons__item {
    width: 33.3%;

    &:nth-child(1), &:nth-child(2) {
      width: 100%;
    }

    &:first-child {
      padding: 0;
      background: $color-blue;
    }
  }
}
