.reason {
  background-color: $color-light-grey;

  &--featured {
    background: $color-blue;

    .reason__header {
      padding: 43px 0 35px 0;

      color: $color-white;
      border: 0;
    }

    .reason__desc {
      padding: 0;
    }

    .reason__number {
      margin: 15px 0 21px 0;
    }
  }

  &:last-child .reason__header {
    border: 0;
  }
}

.reason__header {
  width: 88.5%;
  margin: 0 auto;
  padding: 30px 0 28px 0;

  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid $color-medium-grey;

  font-size: $text-size-small;

  justify-content: center;

  .reasons__item:first-child & {
    padding-top: 43px;
  }
}

.reason__title {
  margin: 0 0 12px 0;

  letter-spacing: 1px;
}

.reason__number {
  margin: 14px 0 18px 0;
}

.reason__desc {
  padding: 0 20px;

  letter-spacing: -0.2px;

  line-height: 21px;
}

.reason__img {
  @include reason-img(city);
}

.reason__img--bridge {
  @include reason-img(bridge);
}

.reason__details {
  background-color: $color-white;

  @include drop-list-style();
}

@media (min-width: 768px) {
  .reason {
    display: flex;

    flex-wrap: wrap;

    &--featured .reason__header {
      width: 33.5%;
      padding: 45px 45px 19px 45px;
    }
  }

  .reason:nth-child(2) {
    flex-direction: row-reverse;
  }

  .reason__header {
    box-sizing: border-box;
    width: 100%;
    padding: 46px 46px 22px 46px;

    border: 0;

    .reasons__item:first-child & {
      padding-top: 46px;
    }
  }

  .reason__img {
    width: 66.5%;
    height: 256px;
  }

  .reason__title {
    padding: 0 6px;

    font-size: 20px;
    line-height: 26px;
  }

  .reason__desc {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .reason {
    display: flex;

    flex-wrap: wrap;

    &--featured .reason__header {
      padding: 52px 45px 19px 45px;
    }
  }

  .reason__header {
    padding: 46px 46px 68px 46px;

    .reasons__item:first-child & {
      padding-top: 51px;
    }
  }

  .reason__title {
    padding: 0 78px;
  }
}
