.reason {
  background-color: $color-light-grey;

  &--featured {
    background: $color-blue;

    .reason__header {
      color: $color-white;
      border: 0;
    }
  }

  &:last-child .reason__header {
    border: 0;
  }
}

.reason__header {
  display: flex;
  flex-direction: column;

  width: 87.5%;
  margin: 0 auto;
  padding: $offset-double 0;

  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid $color-medium-grey;

  font-size: $text-size-small;

  justify-content: center;

  .reasons__item:first-child & {
    padding-top: 50px;
  }
}

.reason__title {
  margin: 0 0 $offset-single 0;
}

.reason__number {
  margin-bottom: $offset-single;
}

.reason__desc {
  line-height: 21px;
}

.reason__img {
  @include reason-img(city);
}

.reason__img--bridge {
  @include reason-img(bridge);
}

.reason__details {
  background-color: $color-white;

  @include drop-list-style();
}

@media (min-width: 768px) {
  .reason {
    display: flex;

    flex-wrap: wrap;

    &--featured .reason__header {
      width: 35%;
    }
  }

  .reason:nth-child(2) {
    flex-direction: row-reverse;
  }

  .reason__header {
    box-sizing: border-box;
    height: 256px;
    padding: 0 53px;

    border: 0;

    .reasons__item:first-child & {
      padding-top: 0;
    }
  }

  .reason__img {
    width: 65%;
    height: 256px;
  }

  .reason__desc {
    margin: 0;
  }
}
