.video-controls {
  background-color: rgba(0, 0, 0, 0.6);
}

.video-controls__range {
  height: 45px;
  padding: 0 $offset-single;

  line-height: 52px;
}

.video-controls__range-input {
  width: 100%;
}

.video-controls__buttons {
  display: flex;
  justify-content: space-between;

  height: 60px;
  padding: 0 $offset-single;

  background-color: #f2f2f2;

  line-height: 76px;
}

.video-controls__button {
  display: inline-block;

  height: 20px;
  margin-top: $offset-single;
  padding: 0;

  border: 0;
  background-color: transparent;

  font: initial;

  &:first-child {
    margin-right: auto;
  }
}

.video-controls__button--subtitles {
  margin-right: $offset-single;
}

@media (min-width: 768px) {
  .video-controls {
    position: relative;
  }

  .video-controls__range {
    position: absolute;
    top: 25px;
    left: 40px;

    width: calc(100% - 176px);
  }

  .video-controls__buttons {
    height: 94px;

    background: none;
  }

  .video-controls__button {
    margin-top: 37px;
  }
}
